---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/Nav.astro'
import photos from '../../netlify/functions/data.json'
import About from '../components/About.astro'

const context = process.env.CONTEXT
let baseURL = context == "deploy-preview" ? process.env.DEPLOY_PRIME_URL : context == 'production' ? process.env.URL : "http://localhost:8888"
let imgEndpoint = new URL("/api/portfolio", baseURL)
let data = ''
---

<script define:vars={{ data, imgEndpoint }}>
(async() => {
	try {
		let response = await fetch(imgEndpoint)
		data = await response.text()
		document.getElementsByTagName('body')[0].style.backgroundImage = `url('${data}')`
	} catch {}
	})()
</script>

<Layout title="Welcome to Astro.">
	<main>
		<Nav/>
		<div id='photos'>
			<h1 class="title">
				<p>Architecture photographer</p>
				<a href="/">Photographs by Pexels</a>
			</h1>
			<!-- <div class="hero-overlay">
			</div> -->
		</div>
		<About/>
		<div class="img-wrapper">
			{photos.map(photo => (
				<div>
					<!-- <img src={photo.img}> -->
					<div id="photo-grid" style={`background-image: url("${photo.img}")`}></div>
				</div>
			))}
		</div>
	</main>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

	:root {
		--astro-gradient: linear-gradient(0deg,#4F39FA, #DA62C4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		/* margin: auto; */
    	/*  padding: 1em;*/
		/* max-width: 60ch; */
	}

	.img-wrapper{
		display: flex;
    	flex-flow: wrap;
    	justify-content: center;
		backdrop-filter: blur(10px);
    	background: white
	}

	.img-wrapper div{
		height: 600px;
		width: 550px;
		margin: 0.5%;
	}

	#photo-grid{
		background-size: cover;
		width: 100%;
		height: 100%;
	}

	.hero-overlay{
		background-image: linear-gradient(1deg, #ffffff, #ffffff78);
		backdrop-filter: blur(26px);
		width: 100%;
		position: absolute;
		bottom: -14px;
    	height: 23%;
		border-radius: 37% 27% 100% 0% / 100% 100% 0% 0%;

	}

	.title{
        flex-basis: 50%;
        text-align: center;
		font-family: 'Bebas Neue', cursive;
		background: #00000029;
		box-shadow: 0 8px 32px 0 rgb(8 9 20 / 82%);
		backdrop-filter: blur(8px) contrast(1.5);
		-webkit-backdrop-filter: blur( 4.5px );
		border-radius: 10px;
		border: 1px solid rgb(255 255 255 / 23%);
		padding: 10%;
    }

	.title p{
		color: white;
		font-size: 2vw;
		border-bottom: 1px solid white;
	}

    .title a{
        color: white;
		font-size: 7vw;
    	text-shadow: -3px 1px 4px rgb(0 0 0 / 41%);
		text-decoration: none;
    }

    .title a:active{
        color: #FBCE64;
    }


	.img-wrapper img{
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	body{
		width: 100%;
		/*border-radius: 53px;*/
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: relative;
	}
	#photos{
		height: 100vh;
		justify-content: center;
		display: flex;
		align-items: center;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%, 100% { background-position-y: 0%; }
		50% { background-position-y: 80%; }
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4F39FA;
		padding: 1.0rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
