<div class="about-wrapper">
    <div class="about-portrait">
        <img src="https://images.pexels.com/photos/7275350/pexels-photo-7275350.jpeg">
    </div>
    <div class="about-text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget lectus quis ex consequat tempor vitae quis dolor. 
            Praesent suscipit nisl nibh, sed dictum arcu vulputate sit amet. Morbi faucibus tortor at suscipit semper. Integer imperdiet nisi nec libero pretium consectetur. 
            Sed gravida ornare ligula, vel tincidunt elit luctus et. Nunc enim magna, convallis sed libero vitae, faucibus pharetra mauris. Morbi rhoncus accumsan dapibus. 
            Nunc consectetur mauris at nulla placerat fringilla. Fusce dapibus vehicula mauris eu aliquet. Vestibulum id massa tellus. Nullam blandit bibendum mi non facilisis. 
            Ut vitae ligula dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit mattis gravida.
        </p>
        <p>
            Nullam dui quam, molestie at blandit a, auctor non massa. Cras vel nunc sagittis neque fringilla tincidunt et id ipsum. Vestibulum ante ipsum primis in faucibus orci 
            luctus et ultrices posuere cubilia curae; Curabitur molestie efficitur nunc sed suscipit. Nulla ut sapien id ex feugiat dignissim. Aliquam sollicitudin lobortis ipsum, 
            sed aliquam nibh dictum vitae. Suspendisse eget hendrerit velit, et bibendum arcu. Proin non pretium leo.
        </p>
    </div>
</div>

<style>
    .about-wrapper{
        display: flex;
        flex: 0 1 auto;
        padding: 3%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .about-portrait{
        flex-basis: 50%
    }
    
    .about-portrait img{
        width: 80%;
        height: 85%;
        border-radius: 25px;
    }

    .about-text{
        flex-basis: 50%;
    }
</style>