
<div id="nav">
    <ul>
        <li class="page-links"> 
            <a href="#about">About</a>
        </li>
        <li class="page-links"> 
            <a href="#">Blog</a>
        </li>
        <li class="page-links"> 
            <a href="#contact">Contact</a>
        </li>
        <li class="page-links"> 
            <a href="/pics">Pics</a>
        </li>
    </ul>
</div>

<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); */

    #nav{
        font-family: 'Bebas Neue', cursive;
        flex: 0 1 auto;
        display: flex;
        flex-flow: column;
        background: white;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    #nav ul{
        display: flex;
        height: auto;
        justify-content: center;
        flex-basis: 50%;
    }

    #nav li{
        list-style-type: none;
        padding: 0 2%;
    }

    #nav a{
        text-decoration: none;
    }

    .page-links a{
        color: #1D4D7A;
    }

    .page-link a:active{
        color: #1D4D7A;
    }
</style>