---
import {data, gridEndpoint} from '../components/ApiUrl'
const style = {
    'width': '600px',
    'height': '770px',
}
---

<script define:vars={{ data, gridEndpoint, style }}>
(async() => {
	try {
		let response = await fetch(gridEndpoint)
		data = await response.text()
        const parsed = JSON.parse(data)
        const target = document.querySelector('#photo-grid-wrapper')
        parsed.forEach((image)=> {
            const div = `<img id="photo-grid" 
            height=${style.height} 
            width=${style.width} 
            src=${image}
            style="object-fit:cover"
            />`
            target.insertAdjacentHTML('beforeend', div)
        })
	} catch {}
})()
</script>

<div id="photo-grid-wrapper" class="img-wrapper">
</div>

<style>
    #photo-grid-wrapper{
        display: flex;
        justify-content: center;
        flex-flow: wrap;
    }
</style>